package db

// Contains all repositories of the application.
type DbApi struct {
    {{- range . }}
    {{ .ModelName }}Repo {{.ModelName}}RepositoryInterface
    {{ end -}}
}

func ProvideDbApi({{- range . }} {{ .ModelName }}Repo {{.ModelName}}RepositoryInterface, {{ end -}}) DbApi {
    return DbApi {
        {{- range . }}
        {{ .ModelName }}Repo: {{ .ModelName }}Repo,
        {{ end -}}
    }
}