package main

import (
	"github.com/SaiNageswarS/go-api-boot/dotenv"
	"github.com/SaiNageswarS/go-api-boot/server"
	"github.com/rs/cors"
)

type AppConfig struct {
	BootConfig  `ini:",extends"`
	CustomField string `env:"CUSTOM-FIELD" ini:"custom_field"`
}

func main() {

	// Load secrets and config
	dotenv.LoadEnv()
	// Pick a cloud provider – all implement cloud.Cloud
	cloudFns := cloud.Azure{}
	// load secrets from Keyvault/SecretManader
	cloudFns.LoadSecretsIntoEnv()

	// load config file
	var ccfg *AppConfig 
	config.LoadConfig("config.ini", ccfg)

	boot, _ := server.New(cfg).
		GRPCPort(":50051").        // or ":0" for dynamic
		HTTPPort(":8080").
		EnableSSL(server.CloudCacheProvider(cfg, cloudFns)).
		// Dependency injection
		Provide(cfg).
		Provide(cloudFns).
		// Register gRPC service impls
		Register(pb.RegisterLoginServer, NewLoginService).
		Build()

	ctx, cancel := context.WithCancel(context.Background())
	// catch SIGINT ‑> cancel
	_ = boot.Serve(ctx)
}