package main

import (
	"github.com/SaiNageswarS/go-api-boot/server"
	"github.com/rs/cors"
)

var grpcPort = ":50051"
var webPort = ":8081"

func main() {

	InitializeApp()

	corsConfig := cors.New(
		cors.Options{
			AllowedHeaders: []string{"*"},
		})
	bootServer := server.NewGoApiBoot(corsConfig, []grpc.UnaryServerInterceptor{}, []grpc.StreamServerInterceptor{}, nil)

	bootServer.Start(grpcPort, webPort)
}