package db 

import (
	"github.com/SaiNageswarS/go-api-boot/odm"
)

type {{.ModelName}}Model struct {
}

func (m *{{.ModelName}}Model) Id() string {
}

type {{.ModelName}}RepositoryInterface interface {
    odm.BootRepository[{{.ModelName}}Model]
}

type {{.ModelName}}Repository struct {
    odm.UnimplementedBootRepository[{{.ModelName}}Model]
}

func Provide{{.ModelName}}Repository() {{.ModelName}}RepositoryInterface {
    return {{.ModelName}}Repository{}
}