package db 

import (
	"github.com/SaiNageswarS/go-api-boot/odm"
)

type {{.ModelName}}Model struct {
}

func (m {{.ModelName}}Model) Id() string {
    return ""
}

func (m {{.ModelName}}Model) CollectionName() string {
    return "{{.ModelName}}"
}