package services

import (
    "{{.ProjectPath}}/db"
    pb "{{.ProjectPath}}/generated/pb"
)

type {{.ServiceName}}Service struct {
    pb.Unimplemented{{.ServiceName}}Server
    mongo odm.MongoClient
}

func Provide{{.ServiceName}}Service(mongo odm.MongoClient) *{{.ServiceName}}Service {
    return &{{.ServiceName}}Service {
        mongo: mongo,
    }
}

