// +build wireinject
// The build tag makes sure the stub is not built in the final build.

package main

import (
    "github.com/google/wire"
    "{{.ProjectPath}}/db"
    "{{.ProjectPath}}/services"
)

type App struct {
    Db      *db.DbApi

    // services
    {{- range .Services }}
    {{.ServiceName}}Service  *services.{{.ServiceName}}Service
    {{ end -}}
}

func ProvideApp(dbApi *db.DbApi, {{- range .Services }} {{.ServiceName}}Service  *services.{{.ServiceName}}Service, {{ end -}}) App {
    return App { 
        Db: dbApi,
        {{- range .Services }}
        {{.ServiceName}}Service: {{.ServiceName}}Service,
        {{ end -}}
    }
}

func InitializeApp() App {
    wire.Build(
        db.ProvideDbApi, 
        ProvideApp, 
        
        {{- range .Models }} 
        db.Provide{{.ModelName}}Repository, 
        {{ end -}}
        
        {{- range .Services }}
        services.Provide{{.ServiceName}}Service,
        {{ end -}}
        )
    return App{}
}
