// +build wireinject
// The build tag makes sure the stub is not built in the final build.

package main

import (
    "github.com/google/wire"
    "{{.ProjectPath}}/db"
)

type App struct {
    Db      db.DbApi
}

func ProvideApp(dbApi db.DbApi) App {
    return App { Db: dbApi }
}

func InitializeApp() App {
    wire.Build(db.ProvideDbApi, ProvideApp, {{- range .Models }} db.Provide{{.ModelName}}Repository, {{ end -}})
    return App{}
}
